extends layout

block content
  h1= title
  p Welcome to #{title}
  //- script(data-main='javascripts/config' src='/scripts/requirejs/require.js')
  <svg id="svgout"></svg>
  svg(id='test' width=500 height=500)

  script(src='/js/lib.js')
  script(src='/js/main.js')
